/* reset(重置) 即重置样式  存放所有样式变量 */
/* colors 定义主颜色 */
$colors: ( // 当变量和颜色名相同时可以把变量引起来
  "primary": #db9e3f, // 主颜色
  "info": #4b67af, 
  "blue": #4394e4, 
  "danger": #791a15, 
  "blue-1": #1f3695, 
  "white": #fff, 
  "white-1": #fcfcfc, 
  "white-2": #eceef0, 
  "light": #f9f9f9,
  "light-1": #d4d9de, // 边框色
  "grey": #999, // 灰色
  "grey-1": #666,
  "dark-1": #343440, // 深色
  "dark": #222,
  "black": #000,
);
$border-color: map-get($colors, 'light-1'); // 边框颜色
/* font size 文字大小 */
$base-font-size: 1rem; // 基础字体大小和上述html中定义的字体大小对应
$font-sizes: (
  xxs: 0.6154, // 最小 8px
  xs: 0.7692, // 最小 10px
  sm: 0.9231, // 小 12px
  md: 1, // 基础大小 13px
  lg: 1.0769, // 中大 14px
  xl: 1.2308, // 最大 16px 
);
$flex-jc: ( // 设置元素的位置 水平方向的对其方式
  start: flex-start, // 在起始位置 行首
  end: flex-end, // 在末尾 行尾
  center: center, // 在行中间
  between: space-between, // 平均分散到该行
  around: space-around, // 平均分散到该行 - 左右有空隙
);

$flex-ai: ( // 设置元素的位置 垂直方向的对其方式
  start: flex-start, // 在顶部起始
  end: flex-end, // 在底部起始
  center: center, // 在垂直的中间位置
  stretch: stretch, // 垂直分布元素
);
/* spacing 边距 */
$spacing-types: (m: margin, p: padding); // 边距类型
$spacing-directions: (t: top, r: right, b: bottom, l: left); // 边距方向
$spacing-base-size: 1rem; // 单位尺寸 基本单位
$spacing-sizes: (
  0:0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);